{% extends 'template.html' %}

{% block head %}
<title>Add Employee</title>
{% endblock %}

{% block body %}
<div class="container">

    <div class="banner">
        <h1>Employee Data</h1>
    </div>
    <div class="form-holder">
        <form action="/add" method="POST">
            <h3>Add a new employee</h3>
            <hr>
            &nbsp;
            <div class="row">
                <label for="name">Name <span class="red">*</span></label>
                <input id="name" type="text" name="name" required />
            </div>
            <div>
                <label>Gender <span class="red">*</span></label>
                <div>
                    <div>
                        <input type="radio" value="Male" id="male" name="gender" />
                        <label for="male" class="radio"><span>Male</span></label>
                    </div>
                    <div>
                        <input type="radio" value="Female" id="female" name="gender" />
                        <label for="female" class="radio"><span>Female</span></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="address">Address <span class="red">*</span></label>
                <input id="address" type="address" name="address" required />
            </div>
            <div class="row">
                <label for="phone">Phone <span class="red">*</span></label>
                <input id="phone" type="number" name="phone" required />
            </div>
            <div class="row">
                <label for="salary">Salary <span class="red">*</span></label>
                <input id="salary" type="number" name="salary" required />
            </div>
            <div class="row">
                <label for="department">Department <span class="red">*</span></label>
                <input id="department" type="text" name="department" required />
            </div>
            <div class="btn-block">
                <a href="/" class="back-btn">Back to home</a>
                <input type="submit" value="Submit">
            </div>
        </form>
    </di>

</div>
{% endblock %}